html,
body {
    min-height: 100%;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/bg-intro-mobile.svg);
    background-size: contain;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: top right;
    display: grid;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.highlight {
    background-color: #00da9c;
    border-radius: 4px;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 5em;
    width: 100%;
}

header .header-logo #brand-logo {
    width: 7em;
}

header .header-nav {
    flex-basis: 50%;
    margin: 0 1em;
}

header .header-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

header .header-nav .sign-up {
    padding: 8px 35px;
}

/* MAIN STYLES */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .intro-container {
    text-align: center;
}

main .intro-container #intro-image {
    width: 60%
}

main .intro-container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

main .intro-container .intro {
    font-size: 39px;
}

main .intro-container .sub-intro {
    font-size: 19px;
}

main .intro-container .get-started {
    margin: 0 auto;
    padding: 20px 15px;
    width: 70%;
    box-shadow: 6px 6px #f2f1f6;
    font-weight: bold;
    font-size: 22px;
}

main .feature-container {
    text-align: center;
}

main .feature-container section {
    padding-left: 32px;
    padding-right: 32px;
}

main .feature-container .feature-intro {
   margin-left: 100px;
   margin-right: 100px;
}

main .feature-container .feature-sub-intro {
    font-size: 19px;
}

main .feature-container .feature {
   margin-left: 130px;
   margin-right: 130px;
}

main .feature-container .feature .feature-icon #platform-icon {
    width: 70%;
}

main .feature-container .feature .feature-icon #security-icon {
    width: 58%;
}

main .feature-container .feature .feature-icon #collaboration-icon {
    width: 70%;
}

main .feature-container .feature span {
    font-size: 20px;
    font-weight: 500;
}

/* FOOTER STYLES */
footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

footer #footer-logo {
    width: 10em;
}
