html,
body {
    min-height: 100%;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/bg-intro-mobile.svg);
    background-size: contain;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: top right;
    display: grid;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.highlight {
    background-color: #00da9c;
    border-radius: 4px;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
    width: 100%;
}

header .header-logo #brand-logo {
    width: 7em;
}

header .header-nav {
    flex-basis: 50%;
    margin: 0 1em;
}

header .header-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

header .header-nav .sign-up {
    padding: 8px 35px;
}

/* MAIN STYLES */
.intro-container,
.feature-container,
.integration-apps-container {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .intro-container #intro-image {
    width: 60%
}

main .intro-container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

main .intro-container .intro {
    font-size: 39px;
}

main .intro-container .sub-intro {
    font-size: 19px;
}

main .intro-container .get-started {
    margin: 0 auto;
    padding: 20px 15px;
    width: 70%;
    box-shadow: 6px 6px #f2f1f6;
    font-weight: bold;
    font-size: 22px;
}

main .feature-container section {
    padding-left: 30px;
    padding-right: 30px;
}

main .feature-container .feature-intro {
   margin-left: 50px;
   margin-right: 50px;
}

main .feature-container .feature-sub-intro {
    font-size: 19px;
}

main .feature-container .feature {
    margin-top: 5em;
}

main .feature-container .feature .feature-icon {
    padding-bottom: 3em;
}

main .feature-container .feature .feature-icon #platform-icon {
    width: 130px;
}

main .feature-container .feature .feature-icon #security-icon {
    width: 110px;
}

main .feature-container .feature .feature-icon #collaboration-icon {
    width: 135px;
}

main .feature-container .feature span {
    font-size: 20px;
    font-weight: 500;
}

main .integration-apps-container section {
    padding-left: 30px;
    padding-right: 30px;
}

main .integration-apps-container .integration-intro {
   margin-left: 30px;
   margin-right: 30px;
}

main .integration-apps-container .integration-sub-intro {
    font-size: 19px;
}

main .integration-apps-container .cards {
/*    margin: 30px 30px;*/
}

main .integration-apps-container .app-card {
    width: 240px;
    margin: 30px auto;
    box-sizing: border-box;
}

main .integration-apps-container .app-card .card-header {
    display: flex;
    align-items: center;
    height: 120px;
    border: 1px solid;
}

main .integration-apps-container .app-card .card-header img {
    max-width:100%;
    max-height:100%;
    margin: 0 auto;
    width: 70%;
    height: auto;
}

main .integration-apps-container .app-card .card-content {
    height: 200px;
    border: 1px solid;
}

/* FOOTER STYLES */
footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

footer #footer-logo {
    width: 10em;
}
